@import './style-contato.css';
@import './style-produto.css';

/*Home da pagina sobre a barbearia*/

main.sobre-barbearia{
    width: auto;
    margin: 20px auto;
    background: rgb(34, 34, 34);
}

main.sobre-barbearia p{
    background: rgb(34, 34, 34);
}

section.principal{
    width: 940px;
    margin: 20px auto;
    background: rgb(34, 34, 34);
}

section.mapa{
    width: 940px;
    margin: 20px auto;

}

/*Home da pagina de Produtos*/

main.produtos{
    background: linear-gradient(darkorange, rgb(0, 0, 0));
    width: auto;
    margin: 0 auto;
}

p.desc-produto{
    font-size: 22px;
    /*margin-top: 0 1.5%;*/

}


/*Home da pagina de contato*/

main.pagecontato{
    width: 940px;
    margin: 20px auto;
    background: rgb(34, 34, 34);
}

main.pagecontato form{
    background: rgb(34, 34, 34);
}

/*Rodapé*/

footer{
    text-align: center;
    background: url("./imagens/bg.jpg");
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}

/*Tornando o site responsivo para dispositiveis móveis*/

@media screen and (max-width: 560px) { 
    .caixa, main.sobre-barbearia, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

        .imagem-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    h1 {
        text-align: center;
    }

    nav {
        position:static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%
    }
}